@mixin myFlexOption($justifyContent:flex-start, $alignItem:center, $flexDirection:row){ /* mixin pouur les flexbox*/
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItem;
} 

@mixin dimensionBox($bgc:white, $width:100%, $height:10%){ /* mixin pour les dimension et la couleur*/
background-color: $bgc;
height: $height;
width: $width;
}

@mixin marginPadding{
    margin: 0;
    padding: 0;
}

@mixin imagePositon($bgcSize:cover, $bgcPosition:center){
    background-size: $bgcSize;
    background-position: $bgcPosition;
}

@mixin police($fontSize:24px,$color:#8009e2, $fontWeight:bolder, $fontStyle:italic){
        font-size: $fontSize;
        font-weight: $fontWeight;
        font-style: $fontStyle;
        color: $color;
}

body{
    @include marginPadding();

}

header{
    @include myFlexOption();
    @include dimensionBox();
    border-bottom: 1px solid #586f7c;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;


    .logo{
        @include myFlexOption(center);
        @include dimensionBox(#b8dbd9, 40%, 100%);
        @include police(35px, #586f7c);
         
    }
    
    menu{
        @include marginPadding();
        @include dimensionBox(#586f7c, 60%, 100%) ;

        nav{
            @include marginPadding();
            @include dimensionBox(#b8dbd9, 100%, 100%) ;
            @include myFlexOption(space-around);
        }

        a{
            @include marginPadding();
            @include dimensionBox(#f4f4f9, 100%, 100%) ;
            @include myFlexOption(space-around);
            &:hover{
                background-color: #586f7c;
            }
        }  

    }
}

.pict{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0%;
    background-image: url(../../pictures/voitureAccueil2.jpg);
    @include imagePositon();
    @include myFlexOption(center);

    h1{
        @include marginPadding();
        @include dimensionBox(#b8dbd9, 100%, 10%);
        @include myFlexOption(center);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: center;

    }
    &__formulaire{
        @include dimensionBox(#f4f4f9, 35%, 50%);
        border-radius: 10px ;
    }
    &__valider{
       margin-left: 42%;
    }
    form{
        margin-top: 5%;
    }



}

a{
    text-decoration: none;
    color: black;
}
