body {
  margin: 0;
  padding: 0;
}

header {
  /* mixin pouur les flexbox*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
}
header .logo {
  /* mixin pouur les flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 100%;
  width: 40%;
  font-size: 35px;
  font-weight: bolder;
  font-style: italic;
  color: #8009e2;
}
header menu {
  margin: 0;
  padding: 0;
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 100%;
  width: 60%;
}
header menu nav {
  margin: 0;
  padding: 0;
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 100%;
  width: 100%;
}
header menu ul {
  margin: 0;
  padding: 0;
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 100%;
  width: 100%;
  /* mixin pouur les flexbox*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

main {
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 75%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 0%;
}
main footer {
  /* mixin pouur les flexbox*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* mixin pour les dimension et la couleur*/
  background-color: #8009e2;
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0%;
  left: 0%;
}
main footer ul {
  list-style-type: none;
}

.mainPict {
  height: 750px;
  width: 100%;
  margin: 0;
  padding: 0;
  /* mixin pouur les flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(../../pictures/voitureAccueil.jpg);
}
.mainPict h1 {
  color: white;
  font-size: 64px;
}

.nouveaute h2 {
  margin: 0;
  padding: 0;
  /* mixin pour les dimension et la couleur*/
  background-color: #8009e2;
  height: 50px;
  width: 100%;
  /* mixin pouur les flexbox*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nouveaute div {
  /* mixin pouur les flexbox*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nouveaute__bugatti {
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  background-image: url(../../pictures/bugattiNew.png);
}
.nouveaute__ferrari {
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  background-image: url(../../pictures/ferrariNew.jpg);
}
.nouveaute__muserati {
  /* mixin pour les dimension et la couleur*/
  background-color: white;
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  background-image: url(../../pictures/maseratiMc20.jpg);
}

/*# sourceMappingURL=style.css.map */
